body {

    font-family: 'Nanum Gothic', sans-serif;
    margin: 0%;
}
h1 {
    font-size: 50px;
}
.text-white{
    color: white;
}
h2 {
    font-size: 40px;
}
.flexiable-container{
    display: flex;
    padding: 2%;
    background-image: url(image/wave.svg);
    background-repeat: no-repeat;
   
}

.half-width{
    width: 50%;
}
img{
    width: 80%;
    border-radius: 50%;
}
.link{
    padding: 10px 50px;
    background-image: linear-gradient(blue,blueviolet);
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
.ad2{
    text-align: center;
    padding: 0 20%;
}

.parent{
    display: flex;
    padding: 0 10%;
}
.child{
    box-shadow: 10px 5px 40px black;
    margin: 5%;
    padding: 50px;
    border-radius: 0 20px 50px 0;
    border-left: 5px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
}